---

---

<div
  class="prose prose-invert
  prose-h1:font-bold prose-h1:text-xl prose-h2:text-h2 prose-h3:text-h3 prose-h4:text-h4 prose-h5:text-h5 prose-h6:text-h6
  prose-a:text-primary prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline max-w-none"
>
  <slot />
</div>
