@import "../../static/fonts/fonts.css";

@import "themes";
@import "colors";

html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-display: swap;
  height: 100%;
  width: 100%;
  // font-size: calc(16px * ((80vw - 700px) / (1600 - 400)));
  // line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container * {
  transition: color 0.45s ease-in-out;
  transition: background 0.45s ease-in-out;
}

.bg-none {
  background: rgba(0, 0, 0, 0) !important;
}

.aurebesh:hover {
  font-family: "Aurebesh", sans-serif;
  font-display: swap;
}

.i-5 {
  text-indent: 5vmin;
}

/** Toggle Switch Styling START */
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border: none;
  box-shadow: none;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-control-input ~ .custom-control-label {
  outline: none;
  border: none;
  box-shadow: none;
}

// light mode
.custom-control-input ~ .custom-control-label::before {
  border-color: $dark-blue;
  background-color: $dark-blue;
}

.custom-switch .custom-control-input ~ .custom-control-label::after {
  background-color: $white;
}

// dark mode
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: $black;
  background-color: $black;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: $dark-blue;
}
/** Toggle Switch Styling END */

/** Home Page Icon Styling START */
.icons-container a {
  margin: 0 1rem;
}

.icons {
  font-size: 3.75rem;
  margin: 0.1rem;
  color: $gray-600;
}

.brand-icon {
  font-size: 2.75rem;
  color: $gray-700;
  &:hover {
    color: $faded-red;
  }
  &.empire {
    border-radius: 50%;
    color: $white;
    background: $black;
    &:hover {
      color: $black;
      background: $white;
    }
  }
}
/** Home Page Icon Styling END */

.unemployed {
  font-size: 1.35rem;
}

// Skills Component Styles
.column {
  display: inline-block;
  width: 14.28%;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

// Timeline Component Styles
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
content: '';
position: absolute;
width: 6px;
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
}

/* Container around content */
.timeline-container {
padding: 10px 40px;
position: relative;
width: 50%;
}
  
/* The circles on the timeline */
.container::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: white;
border: 4px solid #FF9F55;
top: 15px;
border-radius: 50%;
z-index: 1;
}
  
/* Place the container to the left */
.left {
left: 0;
}
  
/* Place the container to the right */
.right {
left: 50%;
}
  
/* Add arrows to the left container (pointing right) */
.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid white;
border-width: 10px 0 10px 10px;
}
  
/* Add arrows to the right container (pointing left) */
.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid white;
border-width: 10px 10px 10px 0;
}
  
/* Fix the circle for containers on the right side */
.right::after {
left: -16px;
}
  
/* The actual content */
.content {
padding: 20px 30px;
background-color: white;
position: relative;
border-radius: 6px;
}
  
/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
      left: 31px;
  }

  /* Full-width containers */
  .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
      left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
      left: 0%;
  }
}