---
import Layout from "layouts/Layout.astro";
import TimeLine from "components/astro/TimeLine.astro";
---

<Layout title="About" description="Find out more about Todd Carney">
  <div class="text-center py-16">
    <h1 class="text-4xl text-gray-300">My History</h1>
  </div>
  <TimeLine />
</Layout>
