---
import type { CollectionEntry } from "astro:content";
import Layout from "layouts/Layout.astro";
import Prose from "components/astro/prose.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description="Todd Carney's Personal Site: Blog">
  <main class="md:p-4 py-8 w-full max-w-full m-0">
    <div class="flex justify-center">
      <article class="max-w-[1500px] w-full">
        <div class="flex justify-center md:py-16 md:px-8 max-md:py-4 w-full">
          {
            heroImage && (
              <img
                class="block shadow-gray-500 my-0 rounded-xl"
                width={2000}
                height={510}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <div class="text-gray-300 px-4 md:px-24">
          <div class="text-center leading-none mb-4 py-4">
            <div class="mt-0 mb-2 mx-0">
              <time
                class="text-gray-500"
                datetime={new Date(pubDate).toISOString()}
              >
                {
                  new Date(pubDate).toLocaleDateString("en-us", {
                    year: "numeric",
                    month: "short",
                    day: "numeric",
                  })
                }
              </time>
              {
                updatedDate && (
                  <div class="italic">
                    Last updated on{" "}
                    <time datetime={new Date(updatedDate).toISOString()}>
                      {" "}
                      date=
                      {new Date(updatedDate).toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}{" "}
                    </time>
                  </div>
                )
              }
            </div>
            <h1 class="text-3xl md:text-5xl mt-0 mb-2 mx-0">{title}</h1>
            <hr />
          </div>
          <Prose>
            <slot />
          </Prose>
        </div>
      </article>
    </div>
  </main>
</Layout>
